@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.title {
  font-size: 2.5rem;
  color: #444;
  margin-bottom: 10px;
  margin-left: 10%;
}

.container {
  display: flex;
  flex-direction: row;
}

#thisContainer {
  z-index: 0;
}

#thisContainer img {
  height: 400px;
  width: auto;
}

.input-field {
  max-width: 400px;
  width: 130%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.3rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  position: relative;
  padding: 0.7rem 0;
  font-size: 1rem;
  margin-left: 7%;
}

.social-media {
  position: relative;
  display: flex;
  margin-left: 7%;
}

.social-icon {
  position: relative;
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btn {
  position: relative;
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}

@media (max-width: 700px) {
  #thisContainer {
    /* opacity: -1; */
    display: none;
  }
}