<!-- ======= Feedback Section ======= -->
<section id="feedback" class="feedback">
  <div class="container">
    <div class="section-title">
      <h2 data-aos="fade-up">Feedback</h2>
      <p data-aos="fade-up">Share your experience here</p>
    </div>
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
      <div class="col-xl-9 col-lg-12 mt-4">
        <form action="/feedback" method="POST" role="form" class="php-email-form">
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required/>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="feedback" rows="5" placeholder="Feedback/Report" required/></textarea>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>
    </div>
  </div>
</section><!-- End Feedback Section -->