<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Door To Door Service/Delivery</h3>
          <p>
           Door2Door Services,<br>
           Haldwani, Goraparow, 263139<br>
          Nainital Uttarakhand<br>
           India <br><br>
            <strong>Phone:</strong> <a href="tel:+91 88954208211">+91 8954208211</a><br>
            <strong>Email:</strong> <a href="mailto:door2doorserviceshld@gmail.com">door2doorserviceshld@gmail.com</a><br>
          </p>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="aboutus">About Us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of Service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Support</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact Us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/feedback">Feedback/Report</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/faq">FAQ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Help</a></li>
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li> -->
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Newsletter</h4>
          <p>Don't miss out! Enter your mail for all new update.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
   <div class="container d-lg-flex py-4">
    <div class="me-lg-auto text-center text-lg-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Door To Door service/delivery</span></strong>. All Rights Reserved @2022
      </div>
      <div class="credits">
        Designed by <a href="#">TheStartUp DESIGNERS [Charanjeet Singh Sidhu]</a>
      </div>
    </div>
    <div class="social-links text-center text-lg-right pt-3 pt-lg-0 ">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
    <a href="https://www.facebook.com/cssidhu13/" class="facebook fbHoverColorChange"><i class="bx bxl-facebook "></i></a></span>
      <a href="https://www.instagram.com/13_cssidhu/" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="https://mail.google.com/mail/u/1/#inbox" class="google-plus"><i class="bx bxl-google"></i></a>
      <a href="https://www.linkedin.com/in/charanjeet-singh-sidhu-a68b3a16b/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
<!-- End Footer -->