  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="/"><img src="assets/icon.png" alt="Icon"/></a></h1>
      </div>
    
      <!-- navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="aboutus">About Us</a></li>
          <li class="dropdown"><a href="services"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Product Delivery</a></li>
              <li><a href="#">Technical Helper</a></li>
              <li><a href="#">Electrician</a></li>
              <li><a href="#">Cleaner</a></li>
              <li><a href="#">Gardening</a></li>
              <li><a href="#">Baby Sitting</a></li>
              <li><a href="#">Event Management</a></li>
              <li><a href="#">Home Tutor</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="shopping"><span>Shopping</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Grocery</a></li>
              <li><a href="#">Daily Needs</a></li>
              <li><a href="#">Food Items</a></li>
              <li><a href="#">Cosmetics</a></li>
              <li><a href="#">Gadgets</a></li>
              <li><a href="#">Decoration</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>User</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="signup" id="signup">Sign Up</a></li>
              <li><a href="signin" id="signin">Sign In</a></li>
              <li><a href="user" id="user">My Account</a></li>
              <li><a href="logout" id="logout">Log Out</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Support</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="feedback">Feedback/Report</a></li>
              <li><a href="contact">Contact Us</a></li>
              <li><a href="#">Terms of Services</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="faq">FAQ</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
