    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>This website will help you to get your daily needs at your doorstep. Even small to small services are available. In this website you will be getting services like:</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Product Delivery</a></h4>
              <p class="description">a continuous flow of valuable products and services to customers and users</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Technical Helper/ Adviser</a></h4>
              <p class="description">develop applications, coordinate the activities of technicians, and provide technical expertise</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-lightbulb"></i></div>
              <h4 class="title"><a href="">Electrician</a></h4>
              <p class="description">inspecting, testing, repairing, installing, and modifying electrical components and systems</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Event Management</a></h4>
              <p class="description">creation and development of small and/or large-scale personal or corporate events </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-stars"></i></div>
              <h4 class="title"><a href="">Cleaner</a></h4>
              <p class="description">clean houses, offices, public places, etc.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-flower3"></i></div>
              <h4 class="title"><a href="">Gardening</a></h4>
              <p class="description">monitoring the health of all plants and greenscapes, watering and feeding plants, trimming trees and shrubs, and much more</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
