    <!-- ======= Shop Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up">Shopping</h2>
          <p data-aos="fade-up">Browses the available goods or services presented by one or more retailers with the potential intent to purchase a suitable selection of them.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Most Buying</li>
              <li data-filter=".filter-beauty">Beauty Product</li>
              <li data-filter=".filter-card">Available Discount</li>
              <li data-filter=".filter-web">Offers</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/shop/mbuy2.jpg" class="img-fluid" alt="" onclick="detailFunc('assets/img/shop/mbuy2.jpg','clock')">
            <div class="portfolio-info">
              <h4>Clock</h4>
              <p>More</p>
              <a href="assets/img/shop/mbuy2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Clock"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" >
            <img src="assets/img/shop/offer3.jpg" class="img-fluid" alt="" onclick="detailFunc('assets/img/shop/offer3.jpg','heels')">
            <div class="portfolio-info">
              <h4>Heels</h4>
              <p>More</p>
              <a href="assets/img/shop/offer3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Heels"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/shop/mbuy3.jpg" class="img-fluid" alt="" onclick="detailFunc('assets/img/shop/mbuy3.jpg','cap')">
            <div class="portfolio-info">
              <h4>Cap</h4>
              <p>More</p>
              <a href="assets/img/shop/mbuy3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Cap"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/shop/discount1.jpg" class="img-fluid" alt="" onclick="detailFunc('assets/img/shop/discount1.jpg','headphone')">
            <div class="portfolio-info">
              <h4>Headphone</h4>
              <p>More</p>
              <a href="assets/img/shop/discount1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Headphone"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-beauty">
            <img src="assets/img/shop/beauty1.jpg" class="img-fluid" alt="" onclick="detailFunc('assets/img/shop/beauty1.jpg','cosmetics')">
            <div class="portfolio-info">
              <h4>Cosmetics</h4>
              <p>More</p>
              <a href="assets/img/shop/beauty1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Cosmetics"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/shop/discount3.jpg" class="img-fluid" alt="" onclick="detailFunc('assets/img/shop/discount3.jpg','shoe')">
            <div class="portfolio-info">
              <h4>Shoe</h4>
              <p>More</p>
              <a href="assets/img/shop/discount3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Shoe"><i class="bx bx-plus"></i></a>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-beauty">
            <img src="assets/img/shop/beauty2.jpg" class="img-fluid" alt="" onclick="detailFunc('assets/img/shop/beauty2.jpg','foundation')">
            <div class="portfolio-info">
              <h4>Foundation</h4>
              <p>More</p>
              <a href="assets/img/shop/beauty2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Foundation"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/shop/discount2.jpg" class="img-fluid" alt="" onclick="detailFunc('assets/img/shop/discount2.jpg','watch')">
            <div class="portfolio-info">
              <h4>Watch</h4>
              <p>More</p>
              <a href="assets/img/shop/discount2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Watch"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-beauty">
            <img src="assets/img/shop/beauty3.jpg" class="img-fluid" alt="" onclick="detailFunc('assets/img/shop/beauty3.jpg','libstick')">
            <div class="portfolio-info">
              <h4>Libstick</h4>
              <p>More</p>
              <a href="assets/img/shop/beauty3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Libstick"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/shop/offer1.jpg" class="img-fluid" alt="" onclick="detailFunc('assets/img/shop/offer1.jpg','cup')">
            <div class="portfolio-info">
              <h4>Cup</h4>
              <p>More</p>
              <a href="assets/img/shop/offer1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Cup"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/shop/mbuy1.jpg" class="img-fluid" alt="" onclick="detailFunc('assets/img/shop/mbuy1.jpg','bag')">
            <div class="portfolio-info">
              <h4>Bag</h4>
              <p>More</p>
              <a href="assets/img/shop/mbuy1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Bag"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/shop/offer2.jpg" class="img-fluid" alt="" onclick="detailFunc('assets/img/shop/offer2.jpg','camera')">
            <div class="portfolio-info">
              <h4>Camera</h4>
              <p>More</p>
              <a href="assets/img/shop/offer2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Camera"><i class="bx bx-plus"></i></a>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Shop Section -->
    
    <!-- event handler -->
    <script>
      function detailFunc(productImg,productName){
        var varForm = `<form action="shopDetails" id="myform" method="post">
                          <input type="hidden" name="productImg" value="${productImg}"/>
                          <input type="hidden" name="productName" value="${productName}"/>
                          <input type="submit">
                        </form>`;
        document.body.innerHTML=varForm;
        window.location.href="/";
        document.getElementById("myform").submit(); 
      }
    </script>