    <!-- ======= Shop Details Section ======= -->
      <div class="container">
        <div class="section-title">
          <h2 data-aos="fade-up">Product Details</h2>
          <p data-aos="fade-up">Add the product to the cart and set delivery location</p>
        </div>
        <div data-aos="fade-up" class="outer">
            <div class="left">
              <img id="productImg" src="{{productImg}}"/>
            </div>
            <div class="right">
              <h1>Product Name : <span id="productName">{{productName}}</span></h1>
              <form action="/addToCart" method="POST">
                <label for="quantity">Quantity</label>
                <input type="hidden" name="productName" id="productName" value="{{{productName}}}"/>
                <input type="number" name="productQuantity" id="quantity" value="1" required/>
                <br/>
                <input type="submit" value="Add to Cart"/>
              </form>
            </div>
        </div>
      </div>
      <!-- End Shop Details -->