    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative" data-aos="fade-up">

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Bo Derek</h3>
                <h4>American film actress</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Whoever said that money can’t buy happiness simply didn’t know where to go shopping.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Marilyn Monroe</h3>
                <h4>American actress</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Happiness is not in money, but in shopping.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Oscar Wilde</h3>
                <h4>Irish poet</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Anyone who lives within their means suffers from a lack of imagination.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3> Karl Lagerfeld</h3>
                <h4>German director</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Buy what you don’t have yet or what you really want, which can be mixed with what you already own. Buy only because something excites you, not just for the simple act of shopping.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Nina Garcia</h3>
                <h4>Colombian journalist</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   Style Strategy is about shopping smart, staying chic, and making it all last. It’s about showing women how to shop for value without compromising style.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->