  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:door2doorserviceshld@gmail.com">door2doorserviceshld@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><a href="tel:+91-8954208211">+91 89XXXXX211</a></i>
      </div>

      <div class="cta d-none d-md-flex align-items-center" id="username">
        <a href="signup" class="scrollto" style="color: white;background-color:#074885;">New User ? <i class="bx bxs-user-plus"></i></a>
        <a href="signin" class="scrollto" style="color: white;background-color:#0e66b8;">Have An Account ! <i class="bx bx-log-in"></i></a>
      </div>
    </div>
  </section>
  <!-- ======= Top Bar End ======= -->