    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-xl-4 col-lg-5" data-aos="fade-up">
            <div class="content">
              <h3>Why Choose Door to Door Service/ Delivery?</h3>
              <p>
                Ours services might have multiple interpretations and different schools of thought, but it makes fulfillment and logistics a much easier task for you. 
                No lifting and shifting heavy parcels. No need to go out – particularly useful when the weather is bad! No queuing at any door for products and get home services at minimum prices.
              </p>
              <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-dollar-circle"></i>
                    <h4>Reduced Costs</h4>
                    <p>Door-to-door delivery does not require you to spend any additional costs at every stage of the fulfillment process. Customers do not need to arrange for any first-mile or last-mile delivery separately.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-edit"></i>
                    <h4>Easier to Manage</h4>
                    <p>In door-to-door delivery service, You only need to stay in contact with one individual from the courier company. This enables you to conveniently manage the entire process and overlook it for timely delivery.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Single Point of Contact</h4>
                    <p>Did not need to maintain checks and balances at every stage of the shipment transfer. This means you only need to contact or add items to their “Door to Door Services/Delivery” account and confirm shipping.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- ======= Why Us Section ======= -->