        {{>errorPageUp}}
        <i class="fas fa-plug"></i>
		<div class="msg">
			<h3>Sorry!!! Incorrect Username Password!!</h3>
            <p>Error 404 Not Found

            Kindly check your username or password and Sign In Again
            </p>
			
			<p>Redirecting to
				<a href="/">home</a>
                page...</p>
        {{>errorPageDown}}