        {{>errorPageUp}}
        <i class="fas fa-sign-out-alt"></i>
		<div class="msg">
			 You are Logged Out Successfully 
			<p>Redirecting to  
				<a href="/">home</a>
				<p>...........</p>
        {{>errorPageDown}}