        {{>errorPageUp}}
		<div class="err">4</div>
		<i class="far fa-question-circle fa-spin"></i>
		<div class="err2">4</div>
		<div class="msg">
			Page Not Found
			<p>Let's go 
				<a href="/">home</a>
        {{>errorPageDown}}