        {{>errorPageUp}}
		<i class="fas fa-exclamation-circle"></i>
		<div class="msg">
			Payment Done Sucessfull ...Thanks for choosing our Services
			<p>Redirecting to 
				<a href="/">home</a>
				<p> Page...</p>
        {{>errorPageDown}}