<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>

    {{!-- favicon --}}
    <link rel="icon" href="assets/favicon/shop.ico" type="image/x-icon" />
    
    {{>mainCss}}

    <link href="css/shopDetailsCss.css" rel="stylesheet">

</head>
<body>
    {{>topbar}}
    {{>header}}
    <main id="main">
    <section class="inner-page pt-3">
      <div class="container" data-aos="fade-up">
        {{>shopDetails}}
      </div>
    </section>
    </main>
    <!-- End #main -->
    {{>copyright}}
</body>
  {{>mainJS}}
</html>