        {{>errorPageUp}}
		<i class="fas fa-exclamation-circle"></i>
		<div class="msg">
			Sign-In Required to access this page...
			<p>Redirecting to 
				<a href="signin">Sign In</a>
				<p> Page...</p>
        {{>errorPageDown}}