        {{>errorPageUp}}
        <i class="fas fa-user-slash"></i>
		<div class="msg">
			Password and confirm-password must be same!
			<p>Let's go 
				<a href="signup">back</a>
        {{>errorPageDown}}