        {{>errorPageUp}}
		<i class="fas fa-spinner fa-spin"></i>
		<div class="msg">
			Your request is been processed..Please Wait
			<p>Redirecting to 
				<a href="/">home</a>
        {{>errorPageDown}}