        {{>errorPageUp}}
		<i class="fas fa-spinner fa-spin"></i>
		<div class="msg">
			Welcome User.... 
			<p>You have been Sucessfully Logined with Us.</p>
			<p>Your request is been processed..Please Wait</p>
			<p>Redirecting to 
				<a href="/">home</a>
        {{>errorPageDown}}