        {{>errorPageUp}}
        <i class="fas fa-envelope"></i>
		<div class="msg">
			Email Id already registered with us.. <br>Kindly Try with some other valid Email Id
			<p>Redirecting to  
				<a href="signup">Sign In</a>
				<p>Page</p>
        {{>errorPageDown}}