        {{>errorPageUp}}
        <i class="fas fa-user-slash"></i>
		<div class="msg">
			Error!! Password & Confirm Password didnt match...
			<p>Redirecting to  
				<a href="signup">Sign Up</a>
				<p>page</p>
        {{>errorPageDown}}