        {{>errorPageUp}}
        <i class="fas fa-envelope"></i>
		<div class="msg">
			This email address is already being used!
			<p>Let's go 
				<a href="signup">back</a>
        {{>errorPageDown}}