<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserPage</title>

    {{!-- favicon --}}
    <link rel="icon" href="assets/favicon/user.ico" type="image/x-icon" />
    
    {{>mainCss}}

    <link href="css/shopDetailsCss.css" rel="stylesheet">

    <link href="css/userproductImg.css" rel="stylesheet">
    
</head>
<body>
    {{>topbar}}
    {{>header}}
    <main id="main">
    <section class="inner-page pt-3">
      <div class="container">
          {{>user}}
        </div>
    </section>
    </main>
    <!-- End #main -->
    {{>copyright}}
</body>
  {{>mainJS}}
</html>